<!DOCTYPE html>
<html>

   <head>
      <title>FCC Backend Challenges | File Size Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>API Backend Challenge</h1>
         <h2>File Size Microservice</h2>
        
        <div class="main">
          
          <blockquote>
             <h4>
               User stories:
            </h4>
            <ul>
              1) I can submit a FormData object that includes a file upload.
            </ul>
            <ul>
              2) When I submit something, I will receive the file size in bytes within the JSON response  
            </ul>
          </blockquote>
          <br>
          <h3>
            Submit a file to view its file size
          </h3>
          
          <form action="upload.js" method="post" enctype="multipart/form-data">
            <input type="file" name="fileToUpload" id="fileToUpload">
            <input type="submit" value="submit" name="submit">
          </form>
          
        </div>
        
      </div>
   </body>

</html>
